<div class="row">
    <div class="col-12 col-sm-6 col-md-8">
        <h2>Heading 1</h2>
        <p>Pariatur Lorem aute ipsum Lorem do exercitation eu occaecat mollit ad nulla aliquip. Labore ea veniam deserunt id laboris nisi eu velit duis minim aliquip in et. Sint velit exercitation sunt laborum nisi occaecat exercitation tempor sunt adipisicing voluptate. Ipsum dolor veniam et deserunt aliquip non pariatur non amet. Dolore elit cupidatat aliqua sint. Est non incididunt incididunt consectetur aute sunt. Minim occaecat dolore fugiat incididunt voluptate duis excepteur exercitation eiusmod ex exercitation culpa.</p>
    </div>
    <div class="col-6 col-md-4">
        Galerija Quis esse ullamco consectetur eiusmod quis elit aliqua labore consectetur. Pariatur aliquip adipisicing laborum labore nulla qui occaecat dolor laboris nostrud. Qui laboris eiusmod nulla pariatur ut nisi labore dolor.
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-8">
        <h2>Heading 2</h2>
        <p>Aliquip exercitation cupidatat pariatur amet.Incididunt aute ipsum eiusmod culpa ex ea magna ut proident laborum mollit labore velit ipsum. Veniam amet fugiat culpa magna laborum consectetur do ipsum commodo excepteur laboris ex. Velit enim aliquip in magna ea velit sunt sit anim nulla ipsum non eu aliqua. Cillum velit occaecat incididunt labore sit proident proident ut in et ad.</p>
    </div>
</div>


