<div class="row">
    <div class="col-12 col-sm-6 col-md-8">
        <h2>SENIOR DEVELOPER at NCR Corporation</h2>
        <p>Built visually appealing frontedent design for end users using JavaScript and CSS.<br>
            Optimized remote software deployment by introducing batch script and developing automated solutions resulting in eliminating manual field work.<br>
            Responsible for troubleshooting installations, root cause analysis and diagnostics.<br>
            Provided business headlights to management and customers by reporting performance status and deployment efficiency (weekly, monthly, quarterly).</p>
    </div>
    <div class="col-6 col-md-4">
        <h2>Gallery</h2>

        

        <div class="container-fluid">              
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of images">
                <div class="wrapper">
                  <img [src]="image.src">
                </div>
                <div class="carousel-caption">
                    <h3>{{ image.title }}</h3>
                    <p>{{ image.short }}</p>
                  </div>
              </ng-template>
            </ngb-carousel>
                
            </div>
          
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-8">
        <h2>LEAD WEB DEVELOPER at Nova Medica Ltd.</h2>
        <p>Elevated user experience for 50% by introducing responsive web design using CSS and JQuery. <br>
           Improved SEO for more than 30 web sites which boosted business for 28% in first quarter. <br>
           Developed custom CRM to elevate business by managing software life cycle using GitHub repository</p>
           
            
            
    </div>
</div>



