<!-- <div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">LOGO</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">prvi</a></li>
            <li><a href="#">drugi</a></li>
            <li><a href="#">treci</a></li>
        </ul>
    </div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="skills">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="static">Static</a>
          </li>
      </ul>
    </div>
  </nav>